@font-face {
	font-family: 'Lato';
	src: local('Lato'), local('Lato-Light'),
				url('fonts/lato-light.woff2') format("woff2"),
				url('fonts/lato-light.woff') format("woff");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: local('Lato Bold'), local('Lato-Bold'),
				url('fonts/lato-bold.woff2') format("woff2"),
				url('fonts/lato-bold.woff') format("woff");
	font-weight: 700;
	font-display: swap;
}

body {
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
	color: #2d2d2d;
	font-weight: 400;
	
}

.container {
	max-width: 1764px;
	margin: 0 auto;
}
.title {
	font-size: 50px;
	line-height: 65px;
	font-weight: 700;
	margin: 0;
}

.text__content-about {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}


.text {
	margin: 0;
	line-height: 33px;
	font-size: 22px;
	font-weight: 400;
}

.list {
	margin: 50px 0;
	padding-left: 20px;
	font-size: 16px;
	line-height: 24px;
}

.list__item-link {
	text-decoration: none;
	color: #525252;
}

.image__shoes {
	margin: 0;
}

.text__content-instructions {
	margin: 0 0 62px;
	font-size: 22px;
}

.title__instructions {
	margin: 0;
}

.text__instructions:not(:last-child) {
	margin-bottom: 50px;
}

.content__stages {
	margin: 48px 0 86px;
}

.stages__wrapper:last-child {
	margin-top: 50px;
}