.dresses {
  background-image: url("./img/dress.webp");
  background-repeat: no-repeat;
  grid-column: 4/5;
  grid-row: 4/6;
  border-radius: 16px;
  background-size: cover;
  padding: 20px 20px;
  display: grid;
  justify-content: end;
}

@include laptop {
  .dresses {
    padding: 10px;
    grid-column: 3/4;
    grid-row: 4/6;
    padding: 10px;
    align-content: end;
    background: url("./img/dres1024.webp");
  }
}

@include tablet {
  .dresses {
    grid-row: 5/8;
  }
}

@include mobile {
  .dresses {
    border-radius: 8px;
    background-image: url("./img/dec320.webp");
    grid-column: 1/2;
    grid-row: 7/9;
    padding: 10px;
  }
}

