.footer {
  height: 100%;
  background-color: $black-grey;
  padding: 80px 0;
}

.footer-wrapper-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1499px;
}

.footer-content-wrapper {
  display: flex;
  gap: 181px;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 316px;
  margin-right: 118px;
  max-width: 290px;
}

.footer__logo {
  color: $white;
  font-family: "Open", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
}

.footer__logo-span {
  color: $blue-light;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  color: $white;
}

.footer-content-center {
  display: flex;
  max-width: 831px;
  width: 100%;
}

.footer-content-center__catalog {
  width: 620px;
  min-height: 307px;
  margin-right: 98px;
}

.footer-title {
  color: $white;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 40px;
}

.footer-content-list {
  display: flex;
  flex-direction: column;
  min-height: 310px;
  max-width: 480px;
  flex-wrap: wrap;
  gap: 15px;
}
.footer-menu-list-categories .menu-link-category {
  color: $white;
}

.footer-content-link,
.footer-content-link-buyers {
  color: $white;
  font-size: 22px;
  line-height: 150%;
}

.footer-content-contacts {
  display: flex;
  flex-direction: column;
}

.footer-content-list-buyers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-content-right {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact {
  display: block;
  color: $white;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 21px;
}

.footer-email {
  margin-bottom: 36px;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social-link {
  display: block;
  width: 26px;
  height: 26px;
}

.footer-developer {
  margin-bottom: 10px;
}

.footer-developer,
.footer-developer-social {
  color: $white;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
}

.footer-title-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-title-btn {
  display: none;
  background-image: url('./../img/closeFooter.svg');
  background-repeat: no-repeat;
  width: 17px;
  height: 8px;
}

@include desktop {
  .footer-content-wrapper {
    gap: 60px;
    max-width: 100%;
  }
  .footer-content-left {
    margin-bottom: 60px;
  }
  .footer-content-list {
    width: 500px;
    height: auto;
    width: 100%;
  }
  .footer-content-center__catalog {
    width: auto;
    height: auto;
  }
}

@include laptop {
  .footer-wrapper-top {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .footer-content-list {
    flex-wrap: nowrap;
  }
  .footer-content-center__catalog {
    min-height: 650px;
    width: 225px;
    margin-right: 75px;
  }
  .footer-content-wrapper {
    flex-wrap: wrap;
    gap: 75px;
  }
}

@include tablet {
  .footer {
    padding: 40px 0;
  }
  .footer-content-wrapper {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 51px;
    max-height: 100%;
  }
  .footer-wrapper-top {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 53px;
  }
  .footer-content-center {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__logo {
    font-size: 24px;
  }
  .footer-content-center__catalog {
    width: 176px;
    margin-right: 0px;
    min-height: 500px;
    height: 384px;
  }
  .footer-title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .footer-content-list {
    width: 176px;
    height: 330px;
    gap: 10px;
    padding-right: 0;
    flex-wrap: nowrap;
  }
  .footer-content-link,
  .footer-content-link-buyers {
    font-size: 16px;
  }
  .footer-contact {
    font-size: 12px;
  }
  .footer-copyright {
    font-size: 12px;
  }
  .footer-developer,
  .footer-developer-social {
    font-size: 12px;
  }
  .footer-social {
    gap: 15px;
  }
  .footer-wrapper-bottom {
    max-width: 100%;
  }
}

@include mobile {
  .footer {
    padding: 30px 0 20px;
  }
  .footer-wrapper-top {
    gap: 27px;
    margin-bottom: 60px;
  }
  .footer__logo {
    font-size: 20px;
  }
  .footer-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-content-link,
  .footer-content-link-buyers {
    font-size: 12px;
    line-height: 120%;
  }
  .footer-content-wrapper {
    width: 100%;
    flex-direction: column;
    max-height: min-content;
    gap: 20px;
  }
  .footer-content-center {
    flex-direction: column;
    gap: 8px;
  }
  .footer-content-list-buyers {
    gap: 8px;
  }
  .footer-content-center__catalog {
    max-height: 100%;
    height: auto;
    width: 100%;
    margin-right: 0;
  }
  .footer-content-list {
    gap: 8px;
    height: auto;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .footer-developer,
  .footer-developer-social {
    font-size: 10px;
  }
  .footer-title-btn {
    display: block;
  }
  .footer-contact {
    font-size: 10px;
  }
  .footer-phone {
    margin-bottom: 9px;
  }
  .footer-email {
    margin-bottom: 23px;
  }
}
