.menu {
  background-color: $white;
  position: absolute;
  padding: 52px 0 92px;
  max-width: 100%;
  width: 100%;
  transform: translateY(-700px);
  z-index: 10;
}

.menu.is-visible {
  animation: animationMenu 3s;
  transform: translateY(0px);
}

.menu-wrapper {
  display: flex;
  gap: 225px;
}

.menu-title {
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 33px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 245px;
}

.menu-catalog {
  min-width: 533px;
}

.menu-item,
.menu-link {
  text-align: start;
  width: 225px;
}

.menu-link {
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
}

@keyframes animationMenu {
  0% {
    transform: translateY(-700px)
  }
  100% {
    transform: translateY(0px)
  }
}

@include desktop {
  .menu {
    padding: 30 42px;
  }
  .menu-wrapper {
    flex-wrap: wrap;
  }
  .menu {
    transform: translateY(-1400px);
  }
  @keyframes animationMenu {
  0% {
      transform: translateY(-1400px)
    }
    100% {
      transform: translateY(0px)
    }
  }
}

@include laptop {
  .menu-list {
    max-height: 335px;
  }
  .menu {
    padding: 30 34px;
    transform: translateY(-1600px);
  }
  .menu-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  @keyframes animationMenu {
    0% {
      transform: translateY(-1600px)
    }
    100% {
      transform: translateY(0px)
    }
  }
}

@include tablet {
  .menu-catalog {
    min-width: 100%;
  }
  .menu {
    padding: 20 20px;
    transform: translateY(-1800px);
  }
  .menu-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .menu-list {
    max-height: 550px;
    flex-wrap: nowrap;
  }
  .menu-item,
  .menu-link {
    max-width: 100%;
  }
  .menu-title {
    font-size: 30px;
  }
  .menu-link {
    font-size: 18px;
  }
  @keyframes animationMenu {
    0% {
      transform: translateY(-1800px)
    }
    100% {
      transform: translateY(0px)
    }
  }
}

@include mobile {
  .menu-catalog {
    min-width: 220px;
  }
  .menu {
    max-width: 320px;
    padding: 20 20px;
    transform: translateY(-1800px);
  }
  .menu-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .menu-list {
    max-height: 510px;
    flex-wrap: nowrap;
  }
  .menu-item,
  .menu-link {
    width: 100%;
  }
  .menu-title {
    font-size: 30px;
  }
  .menu-link {
    font-size: 18px;
  }
  @keyframes animationMenu {
    0% {
      transform: translateY(-1800px)
    }
    100% {
      transform: translateY(0px)
    }
  }
}