.section-goods {
  min-height: 100%;
  margin-bottom: 100px;
}

.section-container {
  display: grid;
  grid-template-columns: 245px 245px 550px 245px 245px;
  grid-template-rows: 480px 245px 245px 245px 245px;
  gap: 60px;
}

@include desktop {
  .section-goods {
    margin-bottom: 90px;
  }
  .section-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 217px 217px 217px 217px;
    grid-template-rows: 314px 217px 217px 217px 217px 418px;
    gap: 24px;
  }
}

@include laptop {
  .section-goods {
    margin-bottom: 90px;
  }
  .section-container {
    display: grid;
    grid-template-columns: 24% 22% 20% 24%;
    grid-template-rows: 314px 217px 217px 217px 217px 418px;
    gap: 24px;
  }
}

@include tablet {
  .section-goods {
    margin-bottom: 60px;
  }
  .section-container {
    display: grid;
    grid-template-columns: 24% 22% 20% 20%;
    grid-template-rows: 280px 140px 140px 60px 60px 60px 60px 337px;
    gap: 20px;
  }
}

@include mobile {
  .section-goods {
    margin-bottom: 70px;
  }
  .section-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 130px 130px;
    grid-template-rows: 340px 130px 118px 280px 118px 118px 130px 130px 123px;
    gap: 20px;
  }
}


// .section-container {
//   max-width: 100%;
//   height: 100%;
//   display: grid;
//   grid-template-columns: 14% 14% 30% 14% 14%;
//   grid-template-rows: 28% 15% 15% 14% 14%;
//   gap: 60px;

// }

// @include desktop {
//   .section-goods {
//     height: 1718px;
//     margin-bottom: 90px;
//   }
//   .section-container {
//     display: grid;
//     max-width: 100%;
//     grid-template-columns: 24% 23.5% 23.5% 24%;
//     grid-template-rows: 18% 12% 12% 12% 12% 24%;
//     gap: 24px;
//   }
// }

// @include laptop {
//   .section-goods {
//     height: 1718px;
//     margin-bottom: 90px;
//   }
//   .section-container {
//     display: grid;
//     max-width: 100%;
//     grid-template-columns: 24% 23.5% 23.5% 24%;
//     grid-template-rows: 18% 12% 12% 12% 12% 24%;
//     gap: 24px;
//   }
// }