.section-sale {
  display: flex;
  flex-direction: column;
}

.section-sale-title {
  font-size: 50px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-sale-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.section-sale-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-link-top {
  position: relative;
}

.sale-link-img {
  width: 420px;
  height: 295px;
}

.sale-link-sale {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sale-link-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sale-price-wrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.sale-price {
  color: $black-grey;
  font-style: normal;
  line-height: normal;
}

.sale-new-price {
  font-weight: 700;
  font-size: 28px;
}

.sale-old-price {
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: line-through;
}

.sale-link-description {
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
}

@include laptop {
  .section-sale-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .section-sale-list {
    gap: 50px 20px;
  }
  .sale-link-img {
    width: 296px;
    height: 295px;
  }
}

@include tablet {
  .section-sale-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .section-sale-list {
    gap: 40px 20px;
  }
  .sale-link-img {
    width: 220px;
    height: 216px;
  }
  .sale-new-price {
    font-size: 22px;
  }
  .sale-price-wrapper {
    gap: 16px;
  }
  .sale-old-price {
    font-size: 16px;
  }
  .sale-link-description {
    font-size: 18px;
  }
}

@include mobile {
  .section-sale-title {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .section-sale-list {
    gap: 30px 20px;
  }
  .sale-link-img {
    width: 130px;
    height: 130px;
  }
  .sale-new-price {
    font-size: 16px;
  }
  .sale-old-price {
    font-size: 12px;
  }
  .sale-link-description {
    font-size: 12px;
  }
}
