.section-sale {
  display: flex;
  flex-direction: column;
}


.section-sale-title {
  font-size: 50px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-sale-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.section-sale-item {
  width: 420px;
  height: 394px;
}


.section-sale-link {
  display: flex;
  flex-direction: column;
}

.section-sale-link-favorite {
  min-height: 100%;
  justify-content: space-between;
}

.sale-link-top {
  position: relative;
}

.sale-link-img {
  width: 420px;
  height: 295px;
  aspect-ratio: 84 / 59;
  border-radius: 14px;
}

.sale-link-sale {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sale-id {
  display: none;
}

.sale-link-content {
  display: flex;
  flex-direction: column;
}

.sale-price-wrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.sale-price {
  color: $black-grey;
  font-style: normal;
  line-height: normal;
}

.sale-new-price {
  font-weight: 700;
  font-size: 28px;
}

.sale-old-price {
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: line-through;
}

.sale-link-description {
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
}
.sale-link-button {
  border-radius: 8px;
  padding: 8px 5px;
  background-color: $blue-light;
  color: $white;
}


@include desktop {
  .section-sale-good {
    display: flex;
  }
  .section-sale-list {
    gap: 20px 20px;
    justify-content: start;
  }
  .section-sale-item {
    width: 300px;
    height: 397px;
  }
  .sale-link-img {
    width: 300px;
    height: 295px;
  }
}

@include laptop {
  .section-sale-good {
    display: flex;
  }
  .section-sale-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .section-sale-list {
    gap: 40px 20px;
  }
  .section-sale-item {
    width: 220px;
    height: 294px;
  }
  .sale-link-img {
    width: 220px;
    height: 216px;
  }
  .sale-new-price {
    font-size: 22px;
  }
  .sale-price-wrapper {
    gap: 16px;
  }
  .sale-old-price {
    font-size: 16px;
  }
  .sale-link-description {
    font-size: 18px;
  }
}

@include tablet {
  .section-sale-good {
    display: flex;
  }
  .section-sale-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .section-sale-list {
    flex-direction: row;
    gap: 10px 6px;
  }
  .section-sale-item {
    width: 220px;
    height: 294px;
  }
  .sale-link-img {
    width: 220px;
    height: 216px;
  }
  .sale-new-price {
    font-size: 22px;
  }
  .sale-price-wrapper {
    gap: 16px;
  }
  .sale-old-price {
    font-size: 16px;
  }
  .sale-link-description {
    font-size: 18px;
  }
}

@include mobile {
  .section-sale-good {
    display: flex;
  }
  .section-sale-title {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .section-sale-list {
    justify-content: flex-start;
    gap: 20px 10px;
  }
  .section-sale-item {
    width: 130px;
    height: 200px;
  }
  .sale-link-img {
    width: 130px;
    height: 130px;
  }
  .section-sale-link {
    max-height: 200px;
    gap: 0;
  }
  .sale-link-content {
    gap: 4px;
  }
  .sale-price-wrapper {
    gap: 16px;
  }
  .sale-new-price {
    font-size: 16px;
  }
  .sale-old-price {
    font-size: 12px;
  }
  .sale-link-description {
    font-size: 12px;
  }
  .sale-link-sale {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}
