.sneakers {
  grid-column: 1/3;
  grid-row: 3/4;
  background-image: url("./../img/sneakers.webp");
  background-repeat: no-repeat;
  padding: 20px;
  background-size: cover;
  border-radius: 16px;
}

@include laptop {
  .sneakers {
    padding: 10px;
  }
}

@include mobile {
  .sneakers {
    padding: 5px;
    border-radius: 8px;
  }
}
