$black-grey: #2D2D2D;
$black: #000;
$blue-light: #3670C7;
$white: #FFF;
$white-grey: #EFEFEF;
$orange: #FFBD13;
$sea: #38C0EB;
$red: #F91155;

$font: Lato;

$breakpoint__xxl: 1919px;
$breakpoint__xl: 1024px;
$breakpoint__md: 768px;
$breakpoint__sm: 320px;