.balloons {
	grid-column: 5 / 6;
	grid-row: 5 / 6;
	background:linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url('../img/balls.png');
	background-repeat: no-repeat;
	border-radius: 16px;
	background-size: cover;
} 

@media (max-width: 1024px){
	.balloons {
		grid-column: 4 / 5;
		grid-row: 5 / 6;
		max-height: 60px;
	} 
}

@media (max-width: 768px) {
	.balloons {
    grid-row: 7/ 8;
		background-image: url('../img/balls-768.png');
	}
}

@media (max-width: 320px) {
	.balloons {
		grid-column: 2 / 3;
    grid-row: 8/ 9;
		background-image: url('../img/ball320.png');
		min-height: 130px;
	}
}
