.section-blogs {
  padding: 60px 0 151px;
}

.blogs {
  background-color: var(--white, #FFF);
}

.blog-container {
  margin: 0 auto;
  max-width: 1433px;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.blog-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 143px;
}

.blog-card {
  display: flex;
  gap: 30px;
  cursor: pointer;
  max-height: 195px;
}
.blog-card__id {
  display: none;
}

.blog-img {
  width: 195px;
  height: 195px;
  border-radius: 20px;
}

.blog-description {
  max-width: 420px;
  padding-top: 13px;
  color: var(--black-grey, #2D2D2D);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.blogs-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.blogs-page__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blogs-page__btn {
  cursor: pointer;
  padding: 7px 13px;
  border-radius: 4px;
  border: 2px solid var(--black-grey, #2D2D2D)
}

.blogs-page__btn_active {
  border: 2px solid var(--blue-light, #3670C7)
}

.arrow {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .section-blogs {
    padding: 40px 0 101px;
  }

  .blog-container {
    max-width: 1024px;
    padding: 0 42px;
  }

  .blog-wrapper  {
    gap: 80px;
  }

  .blog-inner {
    gap: 30px 20px;
  }

  .blog-card {
    max-width: 460px;
    max-height: 140px;
    overflow: hidden;
  }

  .blog-img {
    width: 140px;
    height: 140px;
  }

  .blog-description {
    font-size: 30px;
    line-height: 120%;
    max-width: 300px;
    padding-top: 5px;
  }
}

@media (max-width: 768px) {
  .section-blogs {
		padding: 35px 0 83px;
	}

  .blog-container {
    max-width: 768px;
    padding: 0 34px;
  }

  .blog-inner  {
    flex-direction: column;
    gap: 20px;
  }

  .blog-wrapper  {
    gap: 55px;
  }
  .blog-card {
    max-width: 100%;
  }

  .blog-description {
    max-width: 460px;
  }

  .blogs-page__btns {
    gap: 15px;
  }
  
  .blogs-page__btn {
    padding: 1px 3px;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 320px) {
  .section-blogs {
		padding: 16px 0 53px;
	}

  .blog-container {
    max-width: 320px;
    padding: 0 20px;
  }

  .blog-inner  {
    flex-direction: column;
    gap: 10px;
  }

  .blog-wrapper  {
    gap: 46px;
  }
  .blog-card {
    max-width: 100%;
  }

  .blog-img {
    width: 60px;
    height: 60px;
  }

  .blog-description {
    padding-top: 0;
    max-width: 213px;
    font-size: 18px;
  }
}